* {
  font-family: "Ubuntu", sans-serif;
}

.address-conatainer {
  width: 100%;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
}

.address-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address-body {
  display: flex;
  flex-direction: column;
}

.address-link {
  color: #034599;
  text-decoration: underline;
}
